# Replace {TEST_RUNNER_ENV} with the environment you want to use, for example uat or preprod
DTP_ROOT_URL="https://forms.{TEST_RUNNER_ENV}.beta.my.qld.gov.au"
TC_SERVICE_BASE_URL="https://txconfig.{TEST_RUNNER_ENV}.beta.my.qld.gov.au"
E2E_DTP_FORM_NAME="qgcdgtestform"
E2E_DTP_GAPI_URL=https://www.{TEST_RUNNER_ENV}.graph.qld.gov.au/graphql
E2E_TEST_RUNNER_ENV={TEST_RUNNER_ENV}
E2E_TEST_RUNNER_CLIENT_ID=
E2E_TEST_RUNNER_CLIENT_SECRET=
E2E_TEST_USER_EMAIL=
E2E_TEST_RUNNER_PASSWORD=
E2E_TEST_USER_IDS=
E2E_SUBSCRIBER_CLIENT_ID=
E2E_SUBSCRIBER_CLIENT_SECRET=
ATTACHMENT_S3_BUCKET_URL=
AGENCY_NAME=

# Assisted forms
AF_ROOT_URL=https://assistedforms.{TEST_RUNNER_ENV}.beta.my.qld.gov.au
AF_E2E_TEST_USER_IDS=