# Replace {TEST_RUNNER_ENV} with the environment you want to use, for example uat or preprod
K6_BROWSER_HEADLESS=false # Set to true to run in headless mode
K6_COMPATIBILITY_MODE=experimental_enhanced # For TypeScript support
K6_CLOUD_PROJECT_ID= # Required if run test in cloud, can be found in Grafana Cloud
K6_CLOUD_TOKEN= # Required if run test in cloud, can be found in Grafana Cloud

TTG_E2E_ENV="{TEST_RUNNER_ENV}"
LOAD_TEST_USER_PASSWORD= # <ADD TO LOCAL, DO NOT COMMIT> can be found in the keeper
LOAD_TEST_RUNNER_CLIENT_SECRET= # <ADD TO LOCAL, DO NOT COMMIT>
LOAD_TEST_SUBSCRIBER_CLIENT_SECRETS= # <ADD TO LOCAL, DO NOT COMMIT>
AGENCY_SERVICE= # <ADD TO LOCAL, DO NOT COMMIT>

# DTP metadata properties
DTP_VERSION_NUMBER=""
DTP_VERSION_SIGNATURE=""

# Additional k6 options for web dashboard
# K6_WEB_DASHBOARD=true
# K6_WEB_DASHBOARD_OPEN=true
# K6_WEB_DASHBOARD_PORT=5665
# K6_WEB_DASHBOARD_PERIOD=1s # Sampling period for the web dashboard. Needs to be shorter than test duration.